.chat {
  display: flex;
  height: 100%;
  background-color: #ffffff;
  width: 1140px;
  margin: 0 auto;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.04204);

  &__sidebar {
    width: 320px;
    border-right: 1px solid #f7f7f7;


    &-header {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      align-items: center;

      &>div{
        i{
          display: inline-block;
          margin-right: 5px;
        }
      }


    }

    .dialogs__search{
      padding: 2px 20px 20px 20px;
      .ant-input {
        background-color: #f7f8f9;
        border: 0;
        height: 38px;
        padding: 4px 11px 6px;
      }
      .ant-btn{
        background-color: #f7f8f9;
        border: 0;
        box-shadow: 0 0 0 ;
        height: 38px;

      }
    }

    &-dialogs {
      height: calc(100% - 136px);
      overflow: auto;
      .dialogs {
        height: 100%;

        &__item {
          padding: 10px 20px;
          margin-bottom: 0;
          cursor: pointer;


        }
      }
    }
  }

  &__dialog {
    flex: 1;
    position: relative;
    .ant-empty{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &-header {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 21px;
      height: 58px;
      border-bottom: 1px solid #f7f7f7;
      margin-bottom: 20px;

      &-center {
        text-align: center;

        .button{
          position: absolute;
          transform: rotate(90deg);
          top: 15px;
          right: 0;

        }
        .status {
          display: inline-block;
          color: #bfbfbf;
          position: relative;

          &::before {
            display: block;
            position: absolute;
            top: 6px;
            left: -10px;
            content: '';
            width: 6px;
            height: 6px;
            border-radius: 30px;
            background-color: #D3d3d3;
          }

          &--online {
            display: inline-block;
            position: relative;
            &::before {
              display: block;
              position: absolute;
              top: 6px;
              left: -10px;
              content: '';
              width: 6px;
              height: 6px;
              border-radius: 30px;
              background-color: #00C980;
            }
          }
        }
      }

      &-username {
        font-weight: 500;
        display: block;
        margin-bottom: 5px;

      }


      &-status{
        justify-content: center;
      }

    }


    &-messages {
      overflow: auto;
      height: calc(100% - 138px);
    }
  }
}